@charset "utf-8";
/* CSS Document */
.content{
	margin-top:60px;
}

.chip{
	margin-top:10px;
	width: 38%;
	min-height: 300px;
	border: 1px solid #CCCCCC;
	border-radius:5px;
	box-shadow: 5px 5px 5px #888888;
}
.chip .topic{
	min-width: 50%;
	height:40px;
	border-bottom: 1px solid #CCCCCC;
}

.chip .topic h4{
	text-align:center;
}

.chip .pic{
	padding:5px;
	position: relative;
	top: 5px;
	width: 90%;
	min-height: 200px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888888;
}
.chip .pic .image{
	padding-top: 10px;
}
.chip .bottom{
	position: relative;
	top: 10px;
	min-height:50px;
	border-top: 1px solid #CCCCCC;
	padding-top:5px;
}
