@charset "utf-8";
/* CSS Document */
input{
	border: 1px solid olive;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	color: #A0A0A4;
}
th{
	color:solid blue;
	font-size:30px;
	text-align:left;
}
h3{
	color:red;
	font-size:30px;
	text-align:center;
}
.l1{
	color:blue;
	font-size:50px;
	text-align:left;
}
u{
	color:darkgreen;
}



